@page
@model IndexModel
@{
    ViewData["Title"] = "Įvadas";
}

<h1>@ViewData["Title"]</h1>
<p>Programa veikia kaip pagalbinis įrankis planuojant kelionę.<br />
    Programoje galima peržiūrėti informaciją apie bet kurią pasaulio šalį,<br />
    ieškoti gražių kraštovaizdžių tam tikrose vietose,<br />
    bei peržiūrėti dabartinius orus ar orų prognozę pasirinktoje vietoje.<br /><br />
    Programa naudoja šiuos API:<br />
    <a href="https://serpapi.com">SerpApi</a><br />
    <a href="https://serpapi.com">REST Countries Api</a><br />
    <a href="https://restcountries.com">Weather Api</a><br /><br />
    Darbą atliko: KTU, IFB-0, Renatas Jočys
</p>